body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.add-task-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    border-bottom: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}
.add-task-container:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button#addTaskBtn {
    background-color: blue;
    top: 0;
    right: 0;
    color: white;
    border: none;
    border-radius: 0.5em;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}
#selectOption {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 0.4em;
    padding: 10px 10px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    }

input#newTask {
    width: 100%;
    padding: 5px;
}

li {
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em 1em;
    gap: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em #2e8eb480;
    border-bottom: none;
    align-items: center;
    grid-template-columns: 1fr 8fr 2fr 2fr;
}

li:last-child {
    margin-top: 1em;
}

button {
    position: relative;
    border-radius: 0.3em;
    font-weight: 500;
    font-size: 1em;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button.edit {
    position: relative;
    border-radius: 0.3em;
    padding: 0.5em;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button.delete {
    position: relative;
    border-radius: 0.3em;
    background-color: red;
    padding: 0.5em;
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

input[type="text"] {
    position: relative;
    width: 100%;
    padding: 5px;
}

select {
    margin-top: 10px;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    left: 400px
}
